{% extends 'base.html' %}
{% block title %}MAIS COVID-19 Computer Vision Detector{% endblock %}
{% block content %}
<form action='/submit' method='post' enctype='multipart/form-data' class='left-margin'>
        <div>
            Welcome to Victor Chen's COVID-19 X-Ray Classification Project. To get started, upload an image and press submit!<br> 
            If you don't have any images, please download some from Samples
        </div>
        <div>
            <h1><label for='pwd'>Upload Image: </label></h1>
            <div>
                <input type='file' placeholder="COVID 19" name='my_image' id='pwd'>
            </div>
        </div>
        <div>
            <button type="submit">Submit</button>
        </div>
    </form>
    {% if prediction %}
    <img src='{{img_path}}' height='512px' width='512px' class="center">
        <h2 class="centered">Diagnostic: <i> {{prediction}} </i></h2>
    {% endif %}
{% endblock %}