{% extends 'base.html' %}
{% block title %}MAIS COVID-19 Computer Vision Detector{% endblock %}
{% block content %}
<h1 class="centered">Samples</h1>
<h3 class="centered">COVID-19</h3>
<section class="basic-grid">
    <div class="card"><img src="{{ url_for('static', filename='images/COVID-1.png')}}"></div>
    <div class="card"><img src="{{ url_for('static', filename='images/COVID-10.png')}}"></div>
    <div class="card"><img src="{{ url_for('static', filename='images/COVID-11.png')}}"></div>
    <div class="card"><img src="{{ url_for('static', filename='images/COVID-12.png')}}"></div>
    <div class="card"><img src="{{ url_for('static', filename='images/COVID-13.png')}}"></div>
    <div class="card"><img src="{{ url_for('static', filename='images/COVID-14.png')}}"></div>
    <div class="card"><img src="{{ url_for('static', filename='images/COVID-14.png')}}"></div>
    <div class="card"><img src="{{ url_for('static', filename='images/COVID-16.png')}}"></div>
    <div class="card"><img src="{{ url_for('static', filename='images/COVID-17.png')}}"></div>
    <div class="card"><img src="{{ url_for('static', filename='images/COVID-18.png')}}"></div>
    <div class="card"><img src="{{ url_for('static', filename='images/COVID-19.png')}}"></div>
    <div class="card"><img src="{{ url_for('static', filename='images/COVID-100.png')}}"></div>
    <div class="card"><img src="{{ url_for('static', filename='images/COVID-101.png')}}"></div>
    <div class="card"><img src="{{ url_for('static', filename='images/COVID-102.png')}}"></div>
    <div class="card"><img src="{{ url_for('static', filename='images/COVID-103.png')}}"></div>
</section>
<h3 class="centered">Normal</h3>
<section class="basic-grid">
    
    <div class="card"><img src="{{ url_for('static', filename='images/Normal-1.png')}}"></div>
    <div class="card"><img src="{{ url_for('static', filename='images/Normal-2.png')}}"></div>
    <div class="card"><img src="{{ url_for('static', filename='images/Normal-3.png')}}"></div>
    <div class="card"><img src="{{ url_for('static', filename='images/Normal-10.png')}}"></div>
    <div class="card"><img src="{{ url_for('static', filename='images/Normal-11.png')}}"></div>
    <div class="card"><img src="{{ url_for('static', filename='images/Normal-12.png')}}"></div>
    <div class="card"><img src="{{ url_for('static', filename='images/Normal-13.png')}}"></div>
    <div class="card"><img src="{{ url_for('static', filename='images/Normal-14.png')}}"></div>
    <div class="card"><img src="{{ url_for('static', filename='images/Normal-15.png')}}"></div>
    <div class="card"><img src="{{ url_for('static', filename='images/Normal-16.png')}}"></div>
    <div class="card"><img src="{{ url_for('static', filename='images/Normal-17.png')}}"></div>
    <div class="card"><img src="{{ url_for('static', filename='images/Normal-18.png')}}"></div>
    <div class="card"><img src="{{ url_for('static', filename='images/Normal-19.png')}}"></div>
    <div class="card"><img src="{{ url_for('static', filename='images/Normal-20.png')}}"></div>
    <div class="card"><img src="{{ url_for('static', filename='images/Normal-21.png')}}"></div>

</section>


{% endblock %}